* {
padding: 10px;
}


nav a {
color: white;
text-decoration: none;
}


nav a:hover {
color: #38bdf8;
}


section {
max-width: 1000px;
margin: auto;
padding: 50px 20px;
}


.hero {
text-align: center;
}


.hero img {
width: 150px;
border-radius: 50%;
}


.skills, .projects {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
gap: 20px;
}


.card {
background: #020617;
padding: 20px;
border-radius: 10px;
}


.contact form {
max-width: 400px;
margin: auto;
display: flex;
flex-direction: column;
gap: 10px;
}


.contact input,
.contact textarea {
padding: 10px;
border-radius: 5px;
border: none;
}


.contact button {
background: #38bdf8;
border: none;
padding: 10px;
cursor: pointer;
}


footer {
background: #020617;
text-align: center;
padding: 15px;
}